*{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Lato', sans-serif;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
/*    grid-auto-rows: 1fr;*/
}
