*{
    font-family: 'Lato', sans-serif;
}

.test,
.test1 {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 100px;
    width: 100px;
    background: red;

}

body, html{
    padding: 0;
    margin: 0;
}

.basics{
    position: absolute;
    font-size: 3em;
    color: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    text-align: center;
    
}

/*
.dark{
    position: absolute;
    height: 50vh;
    width: 100%;
    background: black;
    opacity: .2;
}
*/

.half{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    
}

.top{
   
    padding: 0;
    line-height: 45vh;
    width: 90%;
     margin: 0 auto;
    text-align: center;
    transition: all .2s ease-in-out;
}

.top:hover{
    transform: scale(1.1);
}

.tech{
    margin: 0;
    padding-top: 5vh;
    transition: all .2s ease-in-out;
}

.tech:hover{
    transform: scale(1.1);
}

.left{
    background: lightblue;
/*
    background-repeat: no-repeat;
    background-size: cover;
*/
}


.right{
    background-color: lightcoral;
}

.lower{    
    background: lightgreen;
}

.three, .fry, .other{
    color: white;    
    text-decoration: none;
    
}

.fifty{
    width: 50%;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
}

.lr{
    background-color: darksalmon
}
