:root{
    --head-height: 30vh;
    --head: white;
}

*{
    font-family: 'Lato', sans-serif;
}

.test,
.test1 {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 100px;
    width: 100px;
    background: red;

}
.home{
    text-decoration: none;
    color: var(--head);
    position: absolute;
    right: 2vh;
    font-size: 2em;
    transition: all .2s ease-in-out;
}

.home:hover{
    color: red;
    transform: scale(1.1);
}

body, html{
    padding: 0;
    margin: 0;
}

/*
.dark{
    position: absolute;
    height: 50vh;
    width: 100%;
    background: black;
    opacity: .2;
}
*/

.half{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    
}

.top{   
    padding: 0;
    line-height: 45vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: all .2s ease-in-out;
}

.top:hover{
    transform: scale(1.1);
}

.tech{
    margin: 0;
    padding-top: 5vh;
    transition: all .2s ease-in-out;
}

.tech:hover{
    transform: scale(1.1);
}

.left{
    background: lightblue;
}


.right{
    background-color: lightcoral;
}

.lower{    
    background: lightgreen;
}

.three, .fry, .other{
    color: white;    
    text-decoration: none;
    
}

.fifty{
    width: 50%;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
}

.lr{
    background-color: darksalmon
}

header{
    width: 100%;
    height: var(--head-height);
    background: url(https://images.unsplash.com/photo-1516865622081-e98d705bb920?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e453c06501d9fb07a1d9e4d598410be&auto=format&fit=crop&w=2000&q=60);
    background-size: cover;
    background-color:  #b2b4b5;;
    background-blend-mode: multiply;
    
    
}


.head{
    margin: 0;
    color: var(--head);
    line-height: var(--head-height);
    text-align: center;
    
}